<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home" class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <li id="compose" class="nav-item"><a class="nav-link" href="/compose">COMPOSE</a></li>
        <li id="about" class="nav-item"><a class="nav-link" href="/about">ABOUT US</a></li>
        <li id="contact" class="nav-item"><a class="nav-link" href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container">
